In [3]:
print("    /|")
print("   / |")
print("  /  |")
print(" /   |")
print("/____|")

    /|
   / |
  /  |
 /   |
/____|

In [4]:
print("This is a test")

This is a test

In [11]:
v = 0;
cal = v+1
print(cal)

1

In [14]:
character_name = "John"
character_age = "35"
print("There once was a man named " + character_name + ",")
print("He was " + character_age + ",")

There once was a man named John,
He was 35,

In [20]:
my_num = 5
print(str(my_num))

5

In [21]:
my_num = 8.5
print(abs(my_num))

8.5

In [24]:
my_num = -5
print(pow(4, 6))

4096

In [25]:
print(min(4, 9))

4

In [26]:
print(round(4.5))

4

In [27]:
from math import *
my_num = 5
print(ceil(3.7))

4

In [28]:
print(sqrt(36))

6.0

In [33]:
name = input("enter your name: ")
age = input("Enter your age: ")
print("Hello " + name + " !" "your age is "+ age)

enter your name: Mike
Enter your age: 56
Hello Mike !your age is 56

In [40]:
num1= input("Enter a number: ")
num2 = input("enter another number ")
result = float(num1) + float(num2)
print(result)

Enter a number: 4.5
enter another number45
49.5

In [ ]:
color = input("Enter the color: ")
plural_noun = input("Enter the Plural Noun: ")
celebrity = input("Enter the celebrity: ")

print("Rose are " +color)
print(plural_noun + " are blue")
print("I love "  + celebrity)

In [ ]:
color = input("Enter the color: ")
plural_noun = input("Enter the Plural Noun: ")
celebrity = input("Enter the celebrity: ")

print("Rose are " +color)
print(plural_noun + " are blue")
print("I love "  + celebrity)